/* src/animations.css */
card1:hover{
    background-color: grey;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .slide-in-left {
    transform: translateX(-50%);
    opacity: 0;
    animation: slideInLeft 1s forwards;
  }
  
  @keyframes slideInLeft {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-right {
    transform: translateX(50%);
    opacity: 0;
    animation: slideInRight 1s forwards;
  }
  
  @keyframes slideInRight {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  